/* font changing  */
body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
}

.nav-link:hover {
  color: darkorchid;
}

body,
.bg-home {
  margin: 0;
  min-height: 100vh;
  background: url(../../images/rainbow.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bg-parent {
  margin: 0;
  min-height: 100vh;
  background: url(../../images/radient-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bg-teacher {
  margin: 0;
  min-height: 100vh;
  background: url(../../images/green.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bg-student-boy {
  margin: 0;
  min-height: 100vh;
  background: url(../../images/skyblue.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bg-student-girl {
  margin: 0;
  min-height: 100vh;
  background: url(../../images/pink-flower.jpg) no-repeat center center fixed;
  background-size: cover;
}
